# ASHEVILLE AIRBNB SENTIMENT ANALYSIS

> The purpose of this report is **to analyze customer reviews for Airbnb on Asheville, North Carolina, United States**. And act as a stepping stone **to know what the customers think of the service offered by Asheville's Airbnb, and this analysis could help to know if the hosts are providing good customer service or not**. The analysis progress would be separated on several notebook, and will cover from *data preprocessing, text preprocessing, topic modelling, visualization, model building, to model testing*. 

> This notebook specifically will only cover the **TEXT PREPROCESSING** and **TOPIC MODELLING** part.

> The dataset contains the **detailed review data for listings in Asheville, North Carolina** compiled on **08 November, 2020**. The data are from the **Inside Airbnb site**, it is sourced from publicly available information, from the Airbnb site. The data has been analyzed, cleansed and aggregated where appropriate to faciliate public discussion. More on this data, and other similar data refers to this [link](http://insideairbnb.com/get-the-data.html)

## IMPORT LIBRARIES

In [43]:
# data wrangling

import re
import string
import pandas as pd
import numpy as np
import spacy

# data visualization

import matplotlib.pyplot as plt
import seaborn as sns

# text processing

import nltk
import en_core_web_sm
from nltk.corpus import stopwords
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import NMF

# filter warning

import warnings
warnings.filterwarnings('ignore')

## OVERVIEW

In [2]:
# load data

df = pd.read_csv('asheville-reviews-clean.csv')

In [3]:
# show top 5

df.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments,comments_cleaned
0,108061,553741,2011-09-21,822907,Pedro & Katie,"Lisa is superb hostess, she will treat you lik...",lisa superb hostess treat like family provide ...
1,108061,683278,2011-11-01,236064,Tim,This was a lovely little place walking distanc...,lovely little place walking distance downtown ...
2,108061,714889,2011-11-13,1382707,Shane,"Lisa was very nice to work with. However, we ...",lisa nice work however realize house old norma...
3,108061,1766157,2012-07-21,416731,Brenda,I feel very lucky to have found this beautiful...,feel lucky found beautiful home asheville quie...
4,108061,2033065,2012-08-19,1858880,Lindsey,"Great roomy little apartment, beautiful privat...",great roomy little apartment beautiful private...

In [4]:
# check info

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173892 entries, 0 to 173891
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   listing_id        173892 non-null  int64
 1   id                173892 non-null  int64
 2   date              173892 non-null  object
 3   reviewer_id       173892 non-null  int64
 4   reviewer_name     173892 non-null  object
 5   comments          173892 non-null  object
 6   comments_cleaned  173709 non-null  object
dtypes: int64(3), object(4)
memory usage: 9.3+ MB

In [5]:
# function to check data summary

def summary(df):
    
    columns = df.columns.to_list()
    
    dtypes = []
    unique_counts = []
    missing_counts = []
    missing_percentages = []
    total_counts = [df.shape[0]] * len(columns)

    for col in columns:
        dtype = str(df[col].dtype)
        dtypes.append(dtype)
        unique_count = df[col].nunique()
        unique_counts.append(unique_count)
        missing_count = df[col].isnull().sum()
        missing_counts.append(missing_count)
        missing_percentage = round((missing_count/df.shape[0]) * 100, 2)
        missing_percentages.append(missing_percentage)

    df_summary = pd.DataFrame({
        "column": columns,
        "dtypes": dtypes,
        "unique_count": unique_counts,
        "missing_values": missing_counts,
        "missing_percentage": missing_percentages,
        "total_count": total_counts,
    })

    return df_summary.sort_values(by="missing_percentage", ascending=False).reset_index(drop=True)

In [6]:
# check summary

summary(df)

,column,dtypes,unique_count,missing_values,missing_percentage,total_count
0,comments_cleaned,object,168409,183,0.11,173892
1,listing_id,int64,2044,0,0.00,173892
2,id,int64,173892,0,0.00,173892
3,date,object,2904,0,0.00,173892
4,reviewer_id,int64,158449,0,0.00,173892
5,reviewer_name,object,16279,0,0.00,173892
6,comments,object,170971,0,0.00,173892

> Although these have been fixed on the previous process, seems that there are some `dtypes` that are not proper, there are also a missing values on *comments_clean* feature. Therefore once again I'll clean the data on preprocessing first before going on text cleaning.

## PREPROCESSING

In [7]:
# check the missing values

df[df['comments_cleaned'].isna()]

,listing_id,id,date,reviewer_id,reviewer_name,comments,comments_cleaned
254,155305,286556497,2018-07-06,199962397,Leif,A,NaN
633,156926,552755567,2019-10-22,7946489,Юлия,Время проведенное с Дарьей было увлекательным ...,NaN
638,156926,560000486,2019-11-05,61670213,Oxana,"Очень интересно!! не жалею о новом опыте, и вп...",NaN
1292,259576,203258198,2017-10-14,149002825,David,.,NaN
1386,259576,359959590,2018-12-18,229443928,Raphael,.,NaN
...,...,...,...,...,...,...,...
171567,42981397,645925705,2020-08-02,93550848,Zach,.,NaN
171568,42981397,652297593,2020-08-16,93550848,Zach,.,NaN
171666,43087424,702326399,2020-10-20,106022454,Hau,i,NaN
172534,43817239,656384354,2020-08-25,37130879,Dani,...,NaN
173730,45482353,700913969,2020-10-16,80277914,Jill,.,NaN

> It seems the missing values are caused by the other language or improper commentaries as shown above, therefore I'll fill these values as *No Description* instead and move to clean the datatypes.

In [8]:
# fill missing values

df['comments_cleaned'] = df['comments_cleaned'].fillna('No Description')

In [9]:
# fixing columns dtpes

for i in df.columns:
    if i == 'listing_id' or i == 'id' or i == 'reviewer_id':
        df[i] = df[i].astype(np.object)
    elif i == 'date' :
        df[i] = pd.to_datetime(df[i])
    else : 
        pass

In [10]:
# check summary

summary(df)

,column,dtypes,unique_count,missing_values,missing_percentage,total_count
0,listing_id,object,2044,0,0.0,173892
1,id,object,173892,0,0.0,173892
2,date,datetime64[ns],2904,0,0.0,173892
3,reviewer_id,object,158449,0,0.0,173892
4,reviewer_name,object,16279,0,0.0,173892
5,comments,object,170971,0,0.0,173892
6,comments_cleaned,object,168410,0,0.0,173892

> It seems that everything's on set. I'll move to the text processing to later do the text modelling.

## TEXT PROCESSING

### LEMMATIZATION

> For this part, I'll lemmatize the text on the *comments_clean* feature to get the tokenized result for modelling part.

In [11]:
# load spacymodel for lemmatization

nlp = en_core_web_sm.load(disable=['parser', 'ner'])

In [12]:
# function to lemmatize text

def lemmatization(texts,allowed_postags=['NOUN', 'ADJ']): 
    output = []
    for text in texts:
        doc = nlp(text) 
        output.append(' '.join([word.lemma_ for word in doc if word.pos_ in allowed_postags ]))
    return output

In [13]:
# apply lemmatization

comment_list = df['comments_cleaned'].tolist()
comment_tokenized = lemmatization(comment_list)

In [14]:
# check lemmatized comment

print(comment_tokenized[0])

treat family coziest little home experience magical town private sunny apartment little flat need people impeccable lovely neighborhood

In [15]:
# create new feature to store tokenized text

df['comments_tokenized'] = comment_tokenized

In [16]:
# show dataframe

df.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments,comments_cleaned,comments_tokenized
0,108061,553741,2011-09-21,822907,Pedro & Katie,"Lisa is superb hostess, she will treat you lik...",lisa superb hostess treat like family provide ...,treat family coziest little home experience ma...
1,108061,683278,2011-11-01,236064,Tim,This was a lovely little place walking distanc...,lovely little place walking distance downtown ...,lovely little place distance downtown responsi...
2,108061,714889,2011-11-13,1382707,Shane,"Lisa was very nice to work with. However, we ...",lisa nice work however realize house old norma...,work old case floor permanent renter squeaky f...
3,108061,1766157,2012-07-21,416731,Brenda,I feel very lucky to have found this beautiful...,feel lucky found beautiful home asheville quie...,lucky beautiful home quiet clean guest gloriou...
4,108061,2033065,2012-08-19,1858880,Lindsey,"Great roomy little apartment, beautiful privat...",great roomy little apartment beautiful private...,great roomy little apartment beautiful private...

### SENTIMENT ANALYSIS - VADER

> Now, I'll start to analyze the sentiment using **VADER ( Valence Aware Dictionary for Sentiment Reasoning)**. It is basically a model used for text sentiment analysis that is sensitive to both polarity (positive/negative) and intensity (strength) of emotion. VADER relies on a dictionary that maps lexical features to emotion intensities known as sentiment scores. The sentiment score of a text can be obtained by summing up the intensity of each word in the text.

In [17]:
# function to assign sentiment class based on compound score

def sentiment(comp):
    if comp >= 0.05:
        return 'positive'
    elif (comp > -0.05) and (comp < 0.05):
        return 'neutral'
    elif comp <= -0.05 :
        return 'negative'

In [18]:
# initialize sentiment analyzer

analyzer = SentimentIntensityAnalyzer()

# calculate compound score

compound_score = []
for i in df['comments_tokenized']:
    compound_score.append(analyzer.polarity_scores(i)['compound'])

In [19]:
# create new feature to store compound score

df['compound_score'] = compound_score

In [20]:
# check sentiment on first data

sentiment(df['compound_score'][0])

'positive'

In [21]:
# calculate sentiment based on compound score

sent = []
for i in range(0, len(df)):
    sent.append(sentiment(df['compound_score'][i]))

In [22]:
# create new feature to store sentiment

df['sentiment'] = sent

In [23]:
# check final dataframe

df.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments,comments_cleaned,comments_tokenized,compound_score,sentiment
0,108061,553741,2011-09-21,822907,Pedro & Katie,"Lisa is superb hostess, she will treat you lik...",lisa superb hostess treat like family provide ...,treat family coziest little home experience ma...,0.8519,positive
1,108061,683278,2011-11-01,236064,Tim,This was a lovely little place walking distanc...,lovely little place walking distance downtown ...,lovely little place distance downtown responsi...,0.8481,positive
2,108061,714889,2011-11-13,1382707,Shane,"Lisa was very nice to work with. However, we ...",lisa nice work however realize house old norma...,work old case floor permanent renter squeaky f...,0.8176,positive
3,108061,1766157,2012-07-21,416731,Brenda,I feel very lucky to have found this beautiful...,feel lucky found beautiful home asheville quie...,lucky beautiful home quiet clean guest gloriou...,0.9957,positive
4,108061,2033065,2012-08-19,1858880,Lindsey,"Great roomy little apartment, beautiful privat...",great roomy little apartment beautiful private...,great roomy little apartment beautiful private...,0.9351,positive

> Now we've already got everything we need to do the modelling. First I will do topic modelling.

## TOPIC MODELLING

> **Topic Modeling** falls under unsupervised machine learning where the documents are processed to obtain the relative topics. It is a very important concept of the traditional Natural Processing Approach because of its potential to obtain semantic relationship between words in the document clusters. 

> We will use one of **sklearn's method of topic modeling**, the NMF modeling. The NMF is based on Non-negative Matrix Factorization to implement topic modeling. In the NMF model we will use the tf-idf feature vector to train the model.

### NON NEGATIVE MATRIX FACTORIZATION (NMF)

> **Non-Negative Matrix Factorization** is a statistical method to reduce the dimension of the input corpora. It uses factor analysis method to provide comparatively less weightage to the words with less coherence. NMF produces more coherent topics compared to LDA, and it is by default produces sparse representations. This mean that most of the entries are close to zero and only very few parameters have significant values. This can be used when we strictly require fewer topics. 

> In sort, **the goal of NMF is to find two non-negative matrices (W, H) whose product approximates the non-negative matrix X**. This factorization can be used for example for dimensionality reduction, source separation or topic extraction. We will be using sklearn’s implementation of NMF.

In [24]:
# converting the text term-document matrix

vectorizer = TfidfVectorizer(max_features=100)
tf_idf = vectorizer.fit_transform(df['comments_tokenized'])

In [25]:
# show feature names

vectorizer.get_feature_names()

['able',
 'access',
 'amazing',
 'amenity',
 'apartment',
 'area',
 'available',
 'awesome',
 'bathroom',
 'beautiful',
 'bed',
 'bedroom',
 'brewery',
 'check',
 'clean',
 'close',
 'coffee',
 'comfortable',
 'comfy',
 'communication',
 'convenient',
 'cottage',
 'couple',
 'cozy',
 'cute',
 'day',
 'distance',
 'dog',
 'downtown',
 'drive',
 'easy',
 'enough',
 'excellent',
 'experience',
 'extra',
 'family',
 'fantastic',
 'friend',
 'friendly',
 'getaway',
 'good',
 'great',
 'guest',
 'helpful',
 'home',
 'host',
 'hot',
 'house',
 'kitchen',
 'large',
 'little',
 'local',
 'location',
 'lot',
 'lovely',
 'many',
 'minute',
 'morning',
 'mountain',
 'much',
 'neighborhood',
 'next',
 'nice',
 'night',
 'parking',
 'peaceful',
 'people',
 'perfect',
 'place',
 'plenty',
 'porch',
 'private',
 'question',
 'quick',
 'quiet',
 'recommend',
 'recommendation',
 'responsive',
 'restaurant',
 'room',
 'short',
 'small',
 'space',
 'spacious',
 'spot',
 'stay',
 'super',
 'sure',
 'thank',
 'thing',
 'thoughtful',
 'time',
 'touch',
 'town',
 'trip',
 'view',
 'visit',
 'walk',
 'weekend',
 'wonderful']

In [26]:
# applying NMF factorization

nmf_model = NMF(n_components=5, init='nndsvd', random_state=42)
W = nmf_model.fit_transform(tf_idf)
H = nmf_model.components_
print(W.shape, H.shape)

(173892, 5) (5, 100)

In [27]:
# get topics

get_topics = []
for index, topic in enumerate(H):
    feature_names = vectorizer.get_feature_names()
    get_topics.append(' '.join([feature_names[i] for i in topic.argsort()[-5:]]))

In [28]:
# show topics

get_topics

['home beautiful perfect space host',
 'communication spot host location great',
 'amazing nice great stay place',
 'quiet drive minute close downtown',
 'room bed nice comfortable clean']

> Seems that the first, third, and fifth topic talking about how nice the place and also the host is. The second, and fouth one specifically are talking about the location.

In [30]:
# predict the topics based on tokenized comments

topics = []

for i in df['comments_tokenized']:
    text_to_vector = vectorizer.transform([i])
    prob_score = nmf_model.transform(text_to_vector)
    topics.append(get_topics[np.argmax(prob_score)])

In [31]:
# create new feature to store the topics

df['topics'] = topics

In [32]:
# show top 5 data

df.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments,comments_cleaned,comments_tokenized,compound_score,sentiment,topics
0,108061,553741,2011-09-21,822907,Pedro & Katie,"Lisa is superb hostess, she will treat you lik...",lisa superb hostess treat like family provide ...,treat family coziest little home experience ma...,0.8519,positive,home beautiful perfect space host
1,108061,683278,2011-11-01,236064,Tim,This was a lovely little place walking distanc...,lovely little place walking distance downtown ...,lovely little place distance downtown responsi...,0.8481,positive,quiet drive minute close downtown
2,108061,714889,2011-11-13,1382707,Shane,"Lisa was very nice to work with. However, we ...",lisa nice work however realize house old norma...,work old case floor permanent renter squeaky f...,0.8176,positive,quiet drive minute close downtown
3,108061,1766157,2012-07-21,416731,Brenda,I feel very lucky to have found this beautiful...,feel lucky found beautiful home asheville quie...,lucky beautiful home quiet clean guest gloriou...,0.9957,positive,room bed nice comfortable clean
4,108061,2033065,2012-08-19,1858880,Lindsey,"Great roomy little apartment, beautiful privat...",great roomy little apartment beautiful private...,great roomy little apartment beautiful private...,0.9351,positive,home beautiful perfect space host

In [33]:
# show example on topic 1

df['comments'][0]

'Lisa is superb hostess, she will treat you like family and provide you with the coziest little home in Asheville which will definitely enhance your experience of the magical town! Just like the Eco-retreat, the Private sunny apartment is a neat little flat with all you need for up to 3 people, the place was impeccable in lovely neighborhood. You can hardly beat this one!'

In [34]:
# show example on topic 2

df['comments'][1]

'This was a lovely little place walking distance from downtown. Lisa was very responsive. My best Airbnb experience yet!'

In [35]:
# show example on topic 5

df['comments'][3]

'I feel very lucky to have found this beautiful home in Asheville. It was very quiet, clean and well thought out for a guest\'s needs. I stayed here for a glorious month while attending classes at UNCA. The location and apartment was absolutely perfect. I walked to campus through the woods everyday and walked to downtown almost as often...I could be anywhere in ten minutes but I loved being "home" here. It was so peaceful and lush. There\'s a nice big kitchen, which was awesome because I love to cook and there were beautiful gardens with vegetables and herbs to use. Loved the bathroom, it was like a suite unto itself, huge vanity and a great walk in shower. I also thought the bed was very comfortable and I appreciated the good quality linens and pillows. Lisa made it easy for me to feel at home. She gave me a tour of town and showed me how to find the trail to UNCA and some cool bike trails too...let me borrow her bike, which was really nice. I had a wonderful time, will definitely come back and I highly recommend it! Excellent in every way!'

> Seems that this model is quite right to predict the topics. Now to the next phase, I'll start to dump the cleaned data and build the model using various algorithm on the separate notebook. Although I want to address something first, many of features such as *comments* and *comments_cleaned* are rather giving out some false sentiment and topics. I think just for the sake of modelling, if possible I would rather drop these data later. I'll show it below.

In [40]:
# dump to new dataframe

df.to_csv('asheville-reviews-tokenized.csv', index=False)

In [39]:
# show the anomaly

df[df['comments']=='No Description']

,listing_id,id,date,reviewer_id,reviewer_name,comments,comments_cleaned,comments_tokenized,compound_score,sentiment,topics
11888,1827412,426615038,2019-03-21,247099480,David,No Description,description,description,0.0,neutral,home beautiful perfect space host
15856,2411109,406175955,2019-01-28,110949606,Josi,No Description,description,description,0.0,neutral,home beautiful perfect space host
18887,3095136,127198043,2017-01-16,111272759,Ash,No Description,description,description,0.0,neutral,home beautiful perfect space host
20030,3225871,209550903,2017-11-05,147365729,Andrew,No Description,description,description,0.0,neutral,home beautiful perfect space host
20390,3314819,52436690,2015-10-29,46496931,Dwight,No Description,description,description,0.0,neutral,home beautiful perfect space host
30057,5144212,555444539,2019-10-27,4592,Rebecca,No Description,description,description,0.0,neutral,home beautiful perfect space host
31303,5696919,441087924,2019-04-21,140470172,Michael,No Description,description,description,0.0,neutral,home beautiful perfect space host
33816,6234618,311153650,2018-08-20,74602012,Eileen,No Description,description,description,0.0,neutral,home beautiful perfect space host
39678,7556089,441017868,2019-04-21,72106403,Tori,No Description,description,description,0.0,neutral,home beautiful perfect space host
42045,8051829,339537756,2018-10-21,166411083,Michael,No Description,description,description,0.0,neutral,home beautiful perfect space host
47456,10632884,247774303,2018-03-29,176359577,Bethany,No Description,description,description,0.0,neutral,home beautiful perfect space host
52712,12286328,570925775,2019-11-30,224383837,Carlie,No Description,description,description,0.0,neutral,home beautiful perfect space host
55592,12763722,664674089,2020-09-15,243180828,Stephanie,No Description,description,description,0.0,neutral,home beautiful perfect space host
56287,12835184,466803001,2019-06-09,60406179,Jamie,No Description,description,description,0.0,neutral,home beautiful perfect space host
56915,12944995,416394206,2019-02-24,236410626,Kemp,No Description,description,description,0.0,neutral,home beautiful perfect space host
58111,13112074,328260078,2018-09-25,121268935,Tiffany,No Description,description,description,0.0,neutral,home beautiful perfect space host
59551,13258472,190984894,2017-09-05,147070219,Jonathan,No Description,description,description,0.0,neutral,home beautiful perfect space host
62540,13700790,576162833,2019-12-12,224383837,Carlie,No Description,description,description,0.0,neutral,home beautiful perfect space host
62755,13716891,237080284,2018-02-21,171693783,Adam,No Description,description,description,0.0,neutral,home beautiful perfect space host
62986,13744589,136111301,2017-03-08,119286986,Ryan,No Description,description,description,0.0,neutral,home beautiful perfect space host
64911,14352724,557206634,2019-10-31,40817729,Jessica,No Description,description,description,0.0,neutral,home beautiful perfect space host
66695,14731928,403722588,2019-01-21,236743873,William Edward,No Description,description,description,0.0,neutral,home beautiful perfect space host
69987,15174633,342296650,2018-10-28,165241867,Nick,No Description,description,description,0.0,neutral,home beautiful perfect space host
75882,16003488,522800217,2019-09-02,107913345,Zachary,No Description,description,description,0.0,neutral,home beautiful perfect space host
80754,16846899,703824204,2020-10-25,366913696,Allison,No Description,description,description,0.0,neutral,home beautiful perfect space host
84920,17726977,434761690,2019-04-08,200002828,Meg,No Description,description,description,0.0,neutral,home beautiful perfect space host
92231,19032051,355347984,2018-12-03,140564550,Kelli,No Description,description,description,0.0,neutral,home beautiful perfect space host
102654,20697346,334903405,2018-10-10,218919726,Kendra,No Description,description,description,0.0,neutral,home beautiful perfect space host
102798,20697346,596050544,2020-01-21,39081638,Griffin,No Description,description,description,0.0,neutral,home beautiful perfect space host
105991,21023689,204518683,2017-10-18,152218408,Pete,No Description,description,description,0.0,neutral,home beautiful perfect space host
114628,22740737,666459930,2020-09-20,46481617,Olivia,No Description,description,description,0.0,neutral,home beautiful perfect space host
118997,23480306,263283789,2018-05-11,66119144,Brian,No Description,description,description,0.0,neutral,home beautiful perfect space host
120535,23563574,347575197,2018-11-11,152478332,Kevin,No Description,description,description,0.0,neutral,home beautiful perfect space host
122544,23877206,495886035,2019-07-26,196318644,Harrison,No Description,description,description,0.0,neutral,home beautiful perfect space host
122603,23881173,568600439,2019-11-24,631467,Daniel,No Description,description,description,0.0,neutral,home beautiful perfect space host
129211,25519478,488880299,2019-07-15,85702374,Tyler,No Description,description,description,0.0,neutral,home beautiful perfect space host
129774,25882810,448786489,2019-05-05,139871312,Steven,No Description,description,description,0.0,neutral,home beautiful perfect space host
134030,26910515,705931890,2020-11-01,276377076,Justin,No Description,description,description,0.0,neutral,home beautiful perfect space host
145388,30654481,555274987,2019-10-27,270866364,Janet,No Description,description,description,0.0,neutral,home beautiful perfect space host
146882,31219623,601082951,2020-02-02,156938070,Jason,No Description,description,description,0.0,neutral,home beautiful perfect space host
150796,32415241,540031067,2019-10-02,284363588,Trevor,No Description,description,description,0.0,neutral,home beautiful perfect space host
152287,32851430,488764729,2019-07-15,265733018,Ayana,No Description,description,description,0.0,neutral,home beautiful perfect space host
155046,34009815,666774485,2020-09-21,367677779,Kurt,No Description,description,description,0.0,neutral,home beautiful perfect space host
155169,34038444,702559687,2020-10-21,50518060,Kyle,No Description,description,description,0.0,neutral,home beautiful perfect space host
159125,35516808,629640709,2020-06-14,293136683,Max,No Description,description,description,0.0,neutral,home beautiful perfect space host
159379,35578680,643951173,2020-07-29,91907881,Caleb,No Description,description,description,0.0,neutral,home beautiful perfect space host
162202,37039540,644719650,2020-07-31,212084654,Hannah,No Description,description,description,0.0,neutral,home beautiful perfect space host
162670,37287365,574821714,2019-12-08,313094044,Serge,No Description,description,description,0.0,neutral,home beautiful perfect space host
168681,40175865,641109469,2020-07-22,19445390,Emily,No Description,description,description,0.0,neutral,home beautiful perfect space host
168752,40273960,575542708,2019-12-10,224383837,Carlie,No Description,description,description,0.0,neutral,home beautiful perfect space host
171055,42330339,640065149,2020-07-19,8574048,Michael,No Description,description,description,0.0,neutral,home beautiful perfect space host
171388,42669657,702081383,2020-10-19,27971409,Luke,No Description,description,description,0.0,neutral,home beautiful perfect space host
171531,42980378,626004838,2020-05-24,344372599,Catherine,No Description,description,description,0.0,neutral,home beautiful perfect space host
172900,44087805,643358257,2020-07-27,356803427,Susan,No Description,description,description,0.0,neutral,home beautiful perfect space host

In [42]:
# show the anomaly 2

df[df['comments_cleaned']=='No Description']

,listing_id,id,date,reviewer_id,reviewer_name,comments,comments_cleaned,comments_tokenized,compound_score,sentiment,topics
254,155305,286556497,2018-07-06,199962397,Leif,A,No Description,description,0.0,neutral,home beautiful perfect space host
633,156926,552755567,2019-10-22,7946489,Юлия,Время проведенное с Дарьей было увлекательным ...,No Description,description,0.0,neutral,home beautiful perfect space host
638,156926,560000486,2019-11-05,61670213,Oxana,"Очень интересно!! не жалею о новом опыте, и вп...",No Description,description,0.0,neutral,home beautiful perfect space host
1292,259576,203258198,2017-10-14,149002825,David,.,No Description,description,0.0,neutral,home beautiful perfect space host
1386,259576,359959590,2018-12-18,229443928,Raphael,.,No Description,description,0.0,neutral,home beautiful perfect space host
...,...,...,...,...,...,...,...,...,...,...,...
171567,42981397,645925705,2020-08-02,93550848,Zach,.,No Description,description,0.0,neutral,home beautiful perfect space host
171568,42981397,652297593,2020-08-16,93550848,Zach,.,No Description,description,0.0,neutral,home beautiful perfect space host
171666,43087424,702326399,2020-10-20,106022454,Hau,i,No Description,description,0.0,neutral,home beautiful perfect space host
172534,43817239,656384354,2020-08-25,37130879,Dani,...,No Description,description,0.0,neutral,home beautiful perfect space host
173730,45482353,700913969,2020-10-16,80277914,Jill,.,No Description,description,0.0,neutral,home beautiful perfect space host

## REFERENCES

>- https://towardsdatascience.com/sentimental-analysis-using-vader-a3415fef7664
>- https://towardsdatascience.com/topic-modeling-articles-with-nmf-8c6b2a227a45